body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  color: #ffff;
}

h2 {
  color: #343a40;
  margin-bottom: 20px;
}

#add-medication-button {
  background-color: #8b14f9;
  color: #ffffff;
}

#confirmation-message {
  text-align: center;
  font-size: 1.2rem;
}

.table thead th {
  background-color: #343a40;
  color: #ffffff;
  cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table-responsive {
  margin-top: 20px;
  cursor: pointer;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}

.jumbotron {
  background-color: #8b14f9;
}

.logo {
  display: flex;
  position: absolute;
  width: 300px; /* Largura padrão da logo */
  height: 250px; /* Altura padrão da logo */
  top: 70px; /* Posição vertical padrão */
  right: 1280px; /* Posição horizontal padrão */
  z-index: 1000; /* Z-index padrão */
  opacity: 95%;

  @media only screen and (max-width: 1280px) {
    width: 200px; /* Reduz a largura para dispositivos maiores (pc) */
    height: 150px; /* Reduz a altura para dispositivos maiores (pc) */
    top: 150px; /* Ajusta a posição vertical para dispositivos maiores (pc) */
    right: 1030px; /* Ajusta a posição horizontal para dispositivos maiores (pc) */
  }

  /* Media query para ajustar a logo em dispositivos menores */
  @media only screen and (max-width: 768px) {
    width: 200px; /* Reduz a largura para dispositivos menores (tablet) */
    height: 150px; /* Reduz a altura para dispositivos menores (tablet) */
    top: 0px; /* Ajusta a posição vertical para dispositivos menores (tablet) */
    right: 10px; /* Ajusta a posição horizontal para dispositivos menores (tablet) */
  }

  /* Media query para ajustar a logo em dispositivos ainda menores (celular) */
  @media only screen and (max-width: 480px) {
    display: none;
  }
}
