body {
  background-color: #f8f9fa;
}

.jumbotron {
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

.form-group label {
  font-weight: bold;
}

#medication-list {
  max-width: 100%;
  margin: 0 auto;
}

.medication-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.medication-item span {
  flex-grow: 1;
  margin-right: 10px;
}

.medication-item button {
  margin-left: 10px;
}

.medication-list-container {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.table-responsive {
  margin-top: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #dddddd;
}

/* Media Queries */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  .medication-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .medication-item span {
    margin-bottom: 10px;
  }

  .medication-item button {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media (min-width: 769px) {
  .form-row {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group {
    flex: 1;
    margin-right: 10px;
  }

  .medication-item {
    flex-direction: row;
  }
}
